@use '../abstracts/variables' as *;

footer {
  width: 100%;
  background-color: #d89e9e;
  padding: $s2;


  .info-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-items: center;
    gap: 1em;

    @media only screen and (max-width: 800px) {
      justify-items: auto;

      section {
        justify-self: flex-start;
      }
    }
    section {
      display: flex;
      flex-direction: column;
      gap: $s-1;

      
      h2 {
        font-size: $s2;
        font-weight: 600;
        text-transform: uppercase;
      }

      ul {
        list-style: none;

        padding: 0;
        margin: 0;

        color: $color-primary-dark;
        font-weight: 300;

        li:not(:first-child) {
          padding: 0;
          margin: 0;
          padding-top: $s-5;
          max-width: 20ch;
        }
      }
    }
  }
}